
@font-face {
    font-family: 'Katibeh';
    src: url('fonts/Katibeh-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/Katibeh-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Katibeh-Regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/Katibeh-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fonts/Katibeh-Regular.svg#Katibeh-Regular') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Thin.eot'); /* IE9 Compat Modes */
    src: url('fonts/Roboto-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Roboto-Thin.woff') format('woff'), /* Modern Browsers */
         url('fonts/Roboto-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fonts/Roboto-Thin.svg#Roboto-Regular') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'RobotoBold';
    src: url('fonts/Roboto-Bold.eot'); /* IE9 Compat Modes */
    src: url('fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Roboto-Bold.woff') format('woff'), /* Modern Browsers */
         url('fonts/Roboto-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fonts/Roboto-Bold.svg#Roboto-Regular') format('svg'); /* Legacy iOS */
}

html, body{
    font-family: 'katibeh';
    background-color: #262626;
    color: #FFF2DE;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
#tb-qt, #tb-qt-app {
    display: flex;
    width: 275px;
    height:295px;
    position: absolute;
    justify-content: center;
    align-items: center;
    
   
    z-index: 10;
}
#tb-qt *, #tb-qt-app * {
    position: absolute;

}

#loader{
    
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    

}

#text-loader{
    font-size: 100px;
    height: 70px;
    align-content: center;
    text-align: center;
    letter-spacing: 10px;
}

#app{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    position: relative;
}
.central-text{
    display: flex;
    height: 70px;
    overflow: hidden;
    z-index: 10;
}
.central-text [id^=ct-col] , .central-text [id^=ld-col]{
    
    display: flex;
    flex-direction: column;
    
    
   
    

}
.central-text [id^=ct-col]{
    transition: transform 1s;
   
}
.central-text [id^=ct-col]  div, .central-text [id^=ld-col]  div{
  
    width: 50px;
    position: relative;
    font-size: 80px;
    height: 70px;
    text-align: center;
    
    

}


/*images project*/
.img-project{
    position: fixed;
    width: 280px; 
    height: 100%;
    z-index: 2;
    background-color: brown;
    background-image: url("images/mobile-food.jpeg");
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
   
    
}

#img-mobile-food, #img-anazir, #img-more{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center; 
    z-index: 2;
   
   
    transition: filter 0.3s linear, transform 1s cubic-bezier(0,.1,0,1);
    
    width: 281px;  
    height: 200px;
    top: 0;
  left: 0;
    bottom: 0;
    right: 0;
}



#img-mobile-food *, #img-anazir *, #img-more *{
    
  max-height: 70%;
  width: 80%;
  
  
}
/*#img-mobile-food{
    top: 70vh;
    left: 70vw;
}
#img-anazir{
    top: 10vh;
    left: 95vh;
   
}
#img-more{
    top: 60vh;
    left: 15vh;
   
}*/

/* cursor*/
#cursor{
    
    position: absolute;
   
    
    display: flex;
    justify-content: center;
    align-items: center;

    
}
#cursor *{
    width: 20px;
    height: 20px;
    position: absolute;
    transition: width 0.4s ease-out , height 0.4s ease-out , transform 1s;
    
}

#main-img-container{
    
    position: relative;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: red;
}

#detail-section{
    position: absolute;
    bottom: 40px;
    font-size: 20px;
    font-family: Roboto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    z-index: 50;
    height: 25px;
    overflow: hidden;

}
.details-container{
    
    transform: translateY(25px);
    height: 25px;
    display: flex;
    width: 80%;
    justify-content: space-between;
    position: absolute;
    transition: transform 500ms cubic-bezier(0, 0.30, 0.19, 1);
}

#btn-top{
    position: absolute;
    top: 40px;
    font-size: 20px;
    font-family: Roboto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    z-index: 50;
    height: 25px;
    overflow: hidden;
}
#btn-back{
    position: absolute;
    transform: translateY(25px);
    transition: transform 500ms cubic-bezier(0, 0.30, 0.19, 1);
    
}
#detail-btn{
    position: absolute;
    transform: translateY(25px);
    transition: transform 500ms cubic-bezier(0, 0.30, 0.19, 1);

}
.detail-title{
    font-family: RobotoBold;
    margin-right: 5px ;
}

#mf-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*#detail-btn::after{
    content: "";
    width: 110%;
    position: absolute;
    background-color: #FFF2DE;
    height: 1px;
    bottom: -3px;
}
#detail-btn:hover:after{
   background-color: red;
}*/


.big-title-container{

    display: none;
    z-index: 30;
    font-size: 450px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    
}
.big-title{
    display: flex;
}
.big-letter-container{
    overflow: hidden;
    width: fit-content;
    

}
.big-letter{
    text-align: center;
    overflow: hidden;
    height: 350px;

    transform: translateX(-300px);
    color: #fffcf8;
    opacity: 30%;
 
    transition:transform 1s cubic-bezier(0,.21,0,1);
}
#gallery-container{
    
    position: absolute;
    top: 0;
    left: 0;
   
    width: 100vw;
    height: 100vh;
    
    z-index: 30;
    display: none;
    overflow: hidden;
    
}
#mf-gallery{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.img_gallery_zone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 395px;
    
}
.img_gallery_zone img{
    
    position: absolute;
    width: 100%;
}
.img-selector img{
    width: 100px;
    

}
#outline-selected, .selector-container{
    width: 110px;
    height: 70px;
   
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#outline-selected{
    position: absolute;
    border: #FFF2DE 1px solid;
    opacity: 0;
    transition:transform 1s cubic-bezier(0,.21,0,1), opacity 0.5s;
}
.img-selector{
    position: absolute;
    right: 4%;
    top: 50%;
    transform: translateY(-50%);
    
    display: flex;
    
    align-items: center;
    flex-direction: column;

    
}
.selector-container:hover{
    cursor: pointer;
}

@keyframes pulse {
    0%, 100% {
      scale: 1;
    }
    50% {
      scale: 1.1;
    }
  }
  
  .pulser {
    animation: pulse 3s ease-in-out infinite;
  }